:root {
    --bs-body-color: #FCCC95;
    --bs-body-bg: #540D30;
    --bs-body-font-family: 'Open Sans', sans-serif;
}

h1, .h1, h2, .h2 {
    font-family: 'Alex Brush', cursive;
}

p {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

#ganapati {
    max-width: 2in;
    max-height: 2in;
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-bg);
}

#flourish1, #flourish2 {
    width: 5in;
    background-color: var(--bs-body-bg);
    border-color: var(--bs-body-bg);
}

.table-custom {
    --bs-table-bg: var(--bs-body-bg);
    color: var(--bs-body-color);
}

.table-left-column{
    text-align: right;
    padding-right: 5px;
}

.table-right-column{
    text-align: left;
    padding-left: 5px;
}